# Ignore virtual environment
env/
temp_files/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore distribution / packaging
*.egg
*.egg-info/
dist/
build/

# Ignore IDE settings (optional, can remove if not needed)
.vscode/
.idea/
